<div class="row brands_top_margin">
  <div class="col-md-12">
    <h2>Messages</h2>
  </div>
</div>

<hr>

<div class="row mb-5">
  <div class="col-md-8">
    <% @messages.each do |message| %>
      <% if message.body %>
       
       <% user = User.find(message.user_id) %>
        
        <div class="row mt-3">
          <div class="col-md-12">
            <span><strong><%= user.email %> </strong></span><span><%= message.message_time %></span>
          </div>
        </div>

        <div class="row mt-2">
          <div class="col-md-12 msg_block p-4">
            <h4><%= message.body %></h4>
          </div>
        </div>  

      <% end %>
    <% end %>

    <hr>

    <%= form_for [@conversation, @message] do |f| %>
      <div class="form-group">
        <%= f.text_area :body, class: "form-control" %>
      </div>
      
      <%= f.text_field :user_id, value: current_user.id, type: "hidden" %>
      
      <div class="form-group">
        <%= f.submit "Send Message", class: "form-control btn btn-primary" %>
      </div>
    <% end %>


  </div>

  <div class="col-md-6">
    
  </div>

</div>

<%= render 'layouts/footer' %>