<div class="row brands_top_margin">
	<div class="col-md-12">
		<h3 align="center">Enter Your Details</h3>
	</div>
</div>

<div class="row">

	<div class="col-md-6">
		
		<%= form_for @order, url: checkout_path, :html => {class:"form"} do |f| %>	

			<div class="row">
				<div class="col-md-12">
					<div class="form-group">
						<%= f.label :name %>
						<%= f.text_field :name, class: "form-control" %>
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="col-md-12">
					<div class="form-group">
						<%= f.label :email %>
						<%= f.email_field :email, class: "form-control", readonly: "true" %>
					</div>		
				</div>
			</div>
			
			<div class="row">
				<div class="col-md-12">
					<div class="form-group">
						<%= f.submit "Checkout", class: "btn btn-block btn-lg btn-drop" %>
					</div>		
				</div>
			</div>
			
		<% end %>	

	</div>

</div>