<div class="row brands_top_margin">
	<div align="center" class="col-md-12">
			
		<%= image_tag "cfstore_logo.jpg", class: "img-fluid mt-5" %>

		<h3 class="mt-3">Try & Buy your favorite Compania Fantastica clothes in a matter of a few clicks.</h3>
	</div>
</div>

<hr>

<!-- ============================ Women's Section ================================-->

<!-- ============================ Women's Section ROW1 START ============================-->

<div class="row no-gutters">
	<div class="col-md-8">

		<div class="hovereffect">
	
			<%= image_tag "cat_w_shoes.jpg", class: "img-fluid" %>
			
			<div class="overlay">
				<h1>Women's Shoes</h1>
				<%= link_to "View Shoes", cfindex_path(category: "women_shoes"), class: "info" %>
			</div>
	

		</div>
	</div>

	<div class="col-md-4">

		<div class="hovereffect">

			<%= image_tag "cat_w_dress.jpg", class: "img-fluid" %>

			<div class="overlay">
					<h1>Women's Dresses</h1>
					<%= link_to "View Dresses", cfindex_path(category: "women_dresses"), class: "info" %>
			</div>
			
		</div>

		</div>
	</div>

</div>

<!-- ============================ Women's Section ROW1 END ============================-->


<!-- ============================ Women's Section ROW2 START ============================-->

<div class="row mt-5 mb-5 no-gutters">
	<div class="col-md-4">

		<div class="hovereffect">
			<%= image_tag "cat_w_tops.jpg", class: "img-fluid" %>

			
			<div class="overlay">
				<h1>Women's Tops</h1>
				<%= link_to "View Tops", cfindex_path(category: "women_tops"), class: "info" %>
			</div>
			

		</div>
	</div>

	<div class="col-md-4">
		<div class="hovereffect">
			
			<%= image_tag "cat_w_pants.jpg", class: "img-fluid" %>

			
			<div class="overlay">
				<h1>Women's Pants</h1>
				<%= link_to "View Pants", cfindex_path(category: "women_pants"), class: "info" %>
			</div>
		

		</div>
	</div>

	<div class="col-md-4">
		<div class="hovereffect">
			
			<%= image_tag "cat_w_skirts.jpg", class: "img-fluid" %>

				<div class="overlay">
					<h1>Women's Skirts</h1>
					<%= link_to "View Skirts", cfindex_path(category: "women_skirts"), class: "info" %>
				</div>

		</div>
	</div>


</div>


<!-- ============================ Women's Section ROW2 END ============================-->

<!-- ============================ Women's Section ROW3 START ============================-->

<div class="row mt-5 mb-5 no-gutters">

	<div class="col-md-6">

		<div class="hovereffect">
			<%= image_tag "cat_w_sweaters.jpg", class: "img-fluid" %>

			
			<div class="overlay">
				<h1>Women's Sweaters & Knitwear</h1>
				<%= link_to "View Sweaters", cfindex_path(category: "women_sweaters"), class: "info" %>
			</div>
		

		</div>
	</div>


	<div class="col-md-6">
		<div class="hovereffect">
			
			<%= image_tag "cat_w_jumpsuits.jpg", class: "img-fluid" %>

			
			<div class="overlay">
				<h1>Women's Jumpsuits</h1>
				<%= link_to "View Jumpsuits", cfindex_path(category: "women_jumpsuits"), class: "info" %>
			</div>
			

		</div>
	</div>


</div>




<!-- ============================ Women's Section ROW3 END ============================-->

<!-- ============================ Women's Section END ============================-->

<%= render 'layouts/footer' %>