<div class="row brands_top_margin">
	<div align="center" class="col-md-12">
		<h1 class="mt-5">Welcome to the Try & Buy Store</h1>
	</div>
</div>

<hr>

<!-- ============================ Women's Section ================================-->

<div class="row">
	<div class="col-md-12">
		<h1 class="mt-5">Women</h1>
	</div>
</div>

<hr>

<!-- ============================ Women's Section ROW1 START ============================-->

<div class="row">
	<div class="col-md-8">

		<div class="greybox3 p-2">
			
			<%= image_tag "cat_w_shoes.jpg", class: "col-md-12 img-fluid" %>
			
			<div class="row mt-3">
				<div class="col-md-12">
					<%= link_to "View Shoes", products_path(category: "women_shoes"), class: "btn btn-block btn-drop btn-lg" %>
				</div>
			</div>

		</div>
	</div>

	<div class="col-md-4">

		<div class="greybox3 p-2">
			<%= image_tag "cat_w_dress.jpg", class: "col-md-12 img-fluid" %>

			<div class="row mt-3">
				<div class="col-md-12">
					<%= link_to "View Dresses", products_path(category: "women_dresses"), class: "btn btn-block btn-drop btn-lg" %>
				</div>
			</div>

		</div>
	</div>

</div>

<!-- ============================ Women's Section ROW1 END ============================-->


<!-- ============================ Women's Section ROW2 START ============================-->

<div class="row mt-5 mb-5">
	<div class="col-md-4">

		<div class="greybox3 p-2">
			<%= image_tag "cat_w_tops.jpg", class: "col-md-12 img-fluid" %>

			<div class="row mt-3">
				<div class="col-md-12">
					<%= link_to "View Tops", products_path(category: "women_tops"), class: "btn btn-block btn-drop btn-lg" %>
				</div>
			</div>

		</div>
	</div>

	<div class="col-md-4">
		<div class="greybox3 p-2">
			
			<%= image_tag "cat_w_pants.jpg", class: "col-md-12 img-fluid" %>

			<div class="row mt-3">
				<div class="col-md-12">
					<%= link_to "View Pants", products_path(category: "women_pants"), class: "btn btn-block btn-drop btn-lg" %>
				</div>
			</div>

		</div>
	</div>

	<div class="col-md-4">
		<div class="greybox3 p-2">
			
			<%= image_tag "cat_w_skirts.jpg", class: "col-md-12 img-fluid" %>

			<div class="row mt-3">
				<div class="col-md-12">
					<%= link_to "View Skirts", products_path(category: "women_skirts"), class: "btn btn-block btn-drop btn-lg" %>
				</div>
			</div>

		</div>
	</div>


</div>


<!-- ============================ Women's Section ROW2 END ============================-->

<!-- ============================ Women's Section ROW3 START ============================-->

<div class="row mt-5 mb-5">

	<div class="col-md-6">

		<div class="greybox3 p-2">
			<%= image_tag "cat_w_sweaters.jpg", class: "col-md-12 img-fluid" %>

			<div class="row mt-3">
				<div class="col-md-12">
					<%= link_to "View Sweaters", products_path(category: "women_sweaters"), class: "btn btn-block btn-drop btn-lg" %>
				</div>
			</div>

		</div>
	</div>


	<div class="col-md-6">
		<div class="greybox3 p-2">
			
			<%= image_tag "cat_w_jumpsuits.jpg", class: "col-md-12 img-fluid" %>

			<div class="row mt-3">
				<div class="col-md-12">
					<%= link_to "View Skirts", products_path(category: "women_jumpsuits"), class: "btn btn-block btn-drop btn-lg" %>
				</div>
			</div>

		</div>
	</div>


</div>




<!-- ============================ Women's Section ROW3 END ============================-->

<!-- ============================ Women's Section END ============================-->

<!-- ============================ Men's Section =======================================-->

<div class="row">
	<div class="col-md-12">
		<h1 class="mt-5">Men</h1>
	</div>
</div>

<hr>

<!-- ============================ Men's Section ROW1 START ============================-->

<div class="row">

	<div class="col-md-4">

		<div class="greybox3 p-2">
			<%= image_tag "cat_m_shirts.jpg", class: "col-md-12 img-fluid" %>

			<div class="row mt-3">
				<div class="col-md-12">
					<%= link_to "View Shirts", products_path(category: "men_shirts"), class: "btn btn-block btn-drop btn-lg" %>
				</div>
			</div>

		</div>
	</div>

	<div class="col-md-8">
		<div class="greybox3 p-2">
			
			<%= image_tag "cat_m_shoes.jpg", class: "col-md-12 img-fluid" %>
			
			<div class="row mt-3">
				<div class="col-md-12">
					<%= link_to "View Shoes", products_path(category: "men_shoes"), class: "btn btn-block btn-drop btn-lg" %>
				</div>
			</div>

		</div>
	</div>

</div>

<!-- ============================ Men's Section ROW1 END ============================-->

<!-- ============================ Men's Section ROW2 START ============================-->

<div class="row mt-5 mb-5">

	<div class="col-md-6">

		<div class="greybox3 p-2">
			<%= image_tag "cat_m_sweaters.jpg", class: "col-md-12 img-fluid" %>

			<div class="row mt-3">
				<div class="col-md-12">
					<%= link_to "View Sweaters", products_path(category: "men_sweaters"), class: "btn btn-block btn-drop btn-lg" %>
				</div>
			</div>

		</div>
	</div>

	<div class="col-md-6">
		<div class="greybox3 p-2">
			
			<%= image_tag "cat_m_jackets.jpg", class: "col-md-12 img-fluid" %>

			<div class="row mt-3">
				<div class="col-md-12">
					<%= link_to "View Jackets", products_path(category: "men_jackets"), class: "btn btn-block btn-drop btn-lg" %>
				</div>
			</div>

		</div>
	</div>


</div>



<%= render 'layouts/footer' %>