<div class="row mt-5">
  <%= image_tag("signupheader1.png", :class => "col col-md-8 offset-md-2 col-sm-12 col-xs-12 mt-4 d-none d-sm-block col-sm-12") %>
</div>


<div class="row mt-5 mb-5">

  <div class="col-md-5 mt-5">
    <h4 align="center">Login With Your Facebook Account.</h4>
    <%= link_to "Sign In With Facebook", user_facebook_omniauth_authorize_path, class: "loginBtn loginBtn--facebook btn-block" %>
  </div>

  <div class="col-md-2 mt-5 mb-5">
    <h3 align="center">Or</h3>
  </div>


  <div class="col col-md-5">

    <h4 align="center">Use Your DropAlley Account</h4>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      
      <div class="row mt-3">
        <div class="col col-md-12">
          <div class="form-group">
            <%= f.label :email %>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control col-md-12" %>  
          </div>
        </div>
      </div>


      <div class="row">
        <div class="col col-md-12">
          <div class="form-group">
            <%= f.label :password %>
            <%= f.password_field :password, autocomplete: "current-password", class: "form-control col-md-12" %>
          </div>  
        </div>
      </div>    

      <div class="form-group">
        <%= f.submit "Log in", class: "btn btn-drop btn-block btn-lg effect-btn" %>
      </div>

    <% end %>

    <div align="center"> 
      <%= render "devise/shared/links" %>  
    </div>

  </div>

</div>

<%= render 'layouts/footer' %>