<div class="row brands_top_margin">
  <div align="center" class="col-md-12">
    <h2>Current Cart</h2>    
  </div>
</div>

<% @items.each do |item| %>

  <div class="row mt-3">
    <div class="col-md-3">
      <%= image_tag item.product.main_img.url, class: "img-fluid" %>
    </div>
    <div class="col-md-4">
      <h2><%=item.product.title%></h2>
    </div>
    <div class="col-md-3">
      <h3>€ <%= item.price %></h3>
    </div>
    <div class="col-md-2">
      <%= form_for item, method: :delete do |f| %>
        <%= f.submit "Remove", class: "btn btn-drop" %>
      <% end %>
    </div>
  </div>

<% end %>

<div class="row mt-5">
  <div class="col-md-12">
    <h2 align="right">Order Subtotal</h2>
    <hr>
    <h3 align="right">Subtotal: € <%= current_cart.order.sub_total %></h3>
    <hr>
  </div>
</div>

<div class="row">
  <div class="col-md-3 offset-md-9">
    <%= link_to "Continue", checkout_path, class: "btn btn-drop btn-block btn-lg" %>
  </div>
</div>