<div class="row home_top_margin">
  <%= image_tag("1_1.jpg", :class => "col col-md-4 column_width_manager d-none d-sm-block col-sm-4") %>  
  <%= image_tag("1_3.jpg", :class => "col col-md-4 column_width_manager") %>
  <%= image_tag("2_1.jpg", :class => "col col-md-4 column_width_manager d-none d-sm-block col-sm-4") %>
</div>

<div class="row">
  <div align="center" class="col-md-12">
    <h2>Current Cart</h2>    
  </div>
</div>

<hr>

<% @items.each do |item| %>

  <div class="row mt-5">

    <div class="col-md-2">
      <%= image_tag item.product.main_img.url, class: "product_cart_img img-fluid" %>
    </div>
    
    <div class="col-md-5">
      <h5><%=item.product.title%></h5>
      <div class="row">
        <div class="col-md-12">
          <p class="lead"><%=item.product.description%></p>
        </div>
      </div>
    </div>
    
    <div class="col-md-3">
      <h5>€ <%= item.price %></h5>
    </div>
    
    <div class="col-md-2">
      <%= form_for item, method: :delete do |f| %>
        <%= f.submit "Remove", class: "btn btn-drop btn-block" %>
      <% end %>
    </div>
  </div>

<% end %>

<div class="row mt-5">
  <div class="col-md-12">
    <h2 align="right">Order Subtotal</h2>
    <hr>
    <h3 align="right">Subtotal: € <%= current_cart.order.sub_total %></h3>
    <hr>
  </div>
</div>

<div class="row">
  <div class="col-md-3 offset-md-6">
    <%= link_to "Add More Products", products_path, class: "btn btn-drop btn-block btn-lg" %>
  </div>

  <div class="col-md-3">
    <%= link_to "Continue", checkout_path, class: "btn btn-drop btn-block btn-lg" %>
  </div>
</div>

<div class="row mt-5">
  <div class="col-md-12">
    <%= render 'layouts/footer' %>    
  </div>
</div>
