<div class="row brands_top_margin">
		
		<div class="col-md-8">
			<%= image_tag @product.main_img.url, class: "img-fluid mt-3" %>
		</div>

		<div class="col-md-4 mt-3">
			
			<div class="row">
				<div class="col-md-12">
					<h3><%= @product.title %></h3>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<h4>Brand: <%= @product.brand %></h4>
				</div>
			</div>
			
			<hr>
			
			<div class="row">
				<div class="col-md-12">
					<h4><%= @product.description %></h4>
				</div>
			</div>

			<hr>

			<div class="row">
				<div class="col-md-4">
					<h5><strong> Size: <%= @product.size %></strong></h5>
				</div>
				<div class="col-md-6 offset-md-2">
					<h5><strong>Color: <%= @product.color %></strong></h5>
				</div>
			</div>	
			
			<hr>

			<div class="row mt-5">
				<div class="col-md-12">
					<h3>Price: € <%= @product.price %> </h3>
					<h3>Try before you buy for free.</h3>
				</div>
			</div>	

			<% if user_signed_in? %>

				<div class="row mt-5">
					<div class="col-md-12">
						<%= form_tag order_items_path do %>
			        <%= hidden_field_tag :product_id, @product.id %>
			        <%= hidden_field_tag :quantity, 1 %>
			        <%= submit_tag "Add to Cart", class: "btn btn-block btn-lg btn-drop mt-3" %>
			      <% end %>
					</div>
				</div>	

			<% else %>

				<div class="row mt-5">
					<div class="col-md-12">
						<%= link_to "Sign-In To Continue", sign_in_path, class: "btn btn-block btn-lg btn-drop" %>
					</div>
				</div>

			<% end %>


			<% @products.each do |p| %>
				<% if p.title == @product.title && p.id != @product.id %>

					<div class="row mt-5">
						<div class="col-md-12">
							<h4>Also Available In:</h4>
						</div>
					</div>

					<div class="row mt-3">
						<div class="col-md-12">
							<h5><%= link_to p.title, product_path(p) %> </h5>
						</div>
					</div>

					<div class="row">
						<div class="col-md-12">
							<h5>Size: <%= p.size %>, Color: <%= p.color %></h5>
						</div>
					</div>

					<hr>
				
				<% end %>
			<% end %>	
		</div>
</div>

<div class="row mt-3">
	
	<div class="col-md-6">
		<%= image_tag @product.img1.url, class: "img-fluid" %>
	</div>

	<div class="col-md-6">
		<%= image_tag @product.img2.url, class: "img-fluid" %>
	</div>	

</div>

<div class="row mt-3">

	<div class="col-md-6">
		<%= image_tag @product.img3.url, class: "img-fluid" %>
	</div>	

	<div class="col-md-6">
		<%= image_tag @product.img4.url, class: "img-fluid" %>
	</div>

</div>

<div class="row mt-5 mb-5">
   <div class="col col-md-8 offset-md-2">
     <div class="outerbox_signup p-5 effect1">
       <div class="innerbox_signup">
         <h2 align="center">Like what you see?</h2>
         <h4 class="mb-5" align="center"> Try it on and then buy it if you like how it feels and fits. Add it to your Try & Buy request by clicking on the button below.</h4>
         <%= form_tag order_items_path do %>
		        <%= hidden_field_tag :product_id, @product.id %>
		        <%= hidden_field_tag :quantity, 1 %>
		        <%= submit_tag "Add to Cart", class:"btn btn-block btn-drop btn-lg" %>
		      <% end %>
       </div>
     </div>
   </div> 
</div>

<%= render 'layouts/footer' %>